@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: rgb(85, 85, 85);
  background: #fff;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
