@import url("https://fonts.googleapis.com/css?family=Varela+Round");
:root {
  --color-1: #50c9c3;
  --color-2: #b721ff;
  --color-3: #08aeea;
  --color-4: #96deda;
}
*{
    margin: 0 auto;

}
body {
    padding: 2em;
  font-family: 'Varela Round', sans-serif;
  margin:0 auto;
}
.Header {
  position: relative;
  height: 70vh;
  display: block;
}
.Header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, rgba(132, 94, 194, 0.4), rgba(0, 174, 255, 0.719)), url('../../../assets/images/Headers.jpg');
  background-size:cover;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  overflow: hidden;
  z-index: -1;
}
.Header-content {
  text-align: center;
  padding: 4rem 4rem;
  margin: 0 auto;
}
@media (min-width: 58rem) {
  .Header-content {
    text-align: left;
    padding: 10rem 4rem;
    max-width: 54rem;
    display: flex;
    justify-content: space-between;
  }
}
.Header-hero h1,
.Header-hero p {
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(50,0,100,0.1);
}
.Header-hero h1 {
  margin: 0;
  font-size: 3rem;
}
.Header-hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.Header-visuals {
  position: relative;
  margin-top: 4rem;
  -webkit-transform: rotate(60deg);
          transform: rotate(80deg);
}
@media (min-width: 58rem) {
  .Header-visuals {
    margin: 0;
    -webkit-transform: translateX(5rem) translateY(7rem) rotate(80deg);
            transform: translateX(10rem) translateY(10rem) rotate(80deg);
  }
}
.Button {
  padding: 1.5rem 2rem;
  border: 0;
  color: var(--color-3);
  font-size: 1.2rem;
  font-weight: bold;
  background: #fff;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 1.75rem 2rem -0.4rem rgba(50,0,100,0.15);
}
.Button:hover {
  color: var(--color-4);
  box-shadow: 0 1.75rem 3rem 0rem rgba(50,0,100,0.1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.Button:active {
  box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50,0,100,0.125);
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
.framer {
  display: inline-block;
  background: #fff;
  padding: .1rem 0.6rem 0;
border-radius: 20px 20px 20px;
  text-align: center;
}
.framer::before,
.framer::after {
  content: '';
  display: block;
}
.framer::before {
    transform: rotate(-90deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://avatars2.githubusercontent.com/u/15623532?s=460&v=4");
    width: 16rem;
    padding-top: 100%;
}
/* .framer::after {
  display: inline-block;
  margin: 0.6rem;
  padding: 1.4rem;
  border: 1px solid #f5f2f2;
  border-radius: 2rem;
  box-shadow: inset -0.05rem 0.05rem 0.5rem 0rem rgba(50,0,100,0.05);
} */
